*{
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

a{
    text-decoration: none;
    color: #277ad6;
}

a:hover{
    color: #d25241;
}

.image{
    cursor: pointer;
}


.cta-button{
    background-color: transparent;
    border: 2px solid #277ad6;
    color: #d25241;
    height: 50px;
    width: 120px;
    display: block;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;

}

.container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.go_back{
    display: inline;
    color: #277ad6;
    text-align: right;
    padding-top: 20px;
    cursor: pointer;
}

h3{
    font-size: 24px;
    color: #d25241;
}


.image{
    width: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

input#starting-location {
    height: 30px;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.margin-15{
    margin-top: 15px;
    margin-bottom: 15px;
}

.width-80{
    width: 80%;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

ul li{
    margin-top: 30px;
    border: 2px solid #277ad6;
    padding: 10px;
    width: 100%;
}

.left-text{
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 30px;
}


p {
    font-size: 20px;
    line-height: 25px;
    margin-top: 30px;
}

.red {
    color: red;
}

.gray {
    color: grey;
}

.website {
    font-size: 16px;
}

select#state-list,
select#distance-list,
input#starting-location {
    height: 30px;
    font-size: 18px;
}
